[submodule "Compiler backend/Compylex"]
	path = Compiler backend/Compylex
	url = https://github.com/AshiqAbdulkhader/Compylex
[submodule "Compiler backend/app/Compylex"]
	path = Compiler backend/app/Compylex
	url = https://github.com/AshiqAbdulkhader/Compylex.git
