codeplex/node_modules
codeplex/.firebase/
codeplex/build/
codeplex/.firebaserc
codeplex/src/react-app-env.d.ts
codeplex/build
*.pyc
*.pyc
*.pyc
Compiler backend/compylex/__pycache__/compiler.cpython-39.pyc

# Local Netlify folder
.netlify
codeplex/.firebase/hosting.YnVpbGQ.cache